<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="hero">
        <div class="hero__bg">
          <picture>
            <img src="../templates/pexels-lukas-1420709.jpg">
          </picture>
        </div>
      
        <div class="hero__cnt">
          <img src="../templates/download.png" alt="">
          <h1>SnooCode</h1>
          <a href="../templates/login.html"><button><h5>Welcome</h5></button></a>
        </div>
      </div>
</body>
</html>